<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClx0dfHoOpuVJm1Zuis5kWEVpIFOCvbIE</string>
	<key>GCM_SENDER_ID</key>
	<string>189423115769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anh.ins1g7tjunct10n</string>
	<key>PROJECT_ID</key>
	<string>app424-c8cf2</string>
	<key>STORAGE_BUCKET</key>
	<string>app424-c8cf2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189423115769:ios:52c5b3699c70a092dbb128</string>
</dict>
</plist>